{% set titulo= 'Página no encontrada - Asocombia' %} {% include "header.html" %}
<section id="about-container" class="py-5">
  <div class="container">
    <div class="row align-items-center py-5">
      <div class="col-md-8 text-white">
        <h1>Error 404</h1>
        <p>
          ¡Ups! Parece que te has perdido en el camino. La página que buscas no fue encontrada. Por favor, regresa al inicio o contáctanos si necesitas ayuda.
        </p>
      </div>
    </div>
  </div>
</section>
<!-- Close Banner -->

</section>
<!-- End Section -->
{% include "footer.html" %}
