{% set titulo= 'Error 500 - Asocombia' %} {% include "header.html" %}
<section id="about-container" class="py-5">
  <div class="container">
    <div class="row align-items-center py-5">
        <div class="col-md-8 text-white">
            <h1>Error 500</h1>
            <p>
                ¡Oops! Parece que algo no salió como esperábamos en el servidor. Pedimos disculpas por las molestias.
            </p>
          </div>
    </div>
  </div>
</section>
<!-- Close Banner -->

</section>
<!-- End Section -->
{% include "footer.html" %}
