  <!-- Start Footer -->
  <footer class="bg-dark" id="tempaltemo_footer">
    <div class="container">
      <div class="row">
        <div class="col-md-12 pt-5">
          <h2 class="h2 text-success border-bottom pb-3 border-light logo">
            Asocombia
          </h2>
          <ul class="list-unstyled text-light footer-link-list">
            <li>
              <i class="fas fa-map-marker-alt fa-fw"></i>
              <a
                target="_blank"
                class="text-decoration-none"
                href="https://goo.gl/maps/EQVyqJg1MgVpBA686"
              >
                Combia, Palmira, Valle del Cauca
              </a>
            </li>
            <li>
              <i class="fa fa-phone fa-fw"></i>
              <a class="text-decoration-none" href="tel:3172260434"
                >+57 3172260434</a
              >
            </li>
            <li>
              <i class="fa fa-envelope fa-fw"></i>
              <a
                class="text-decoration-none"
                href="mailto:asocombia2022@gmail.com"
                >asocombia2022@gmail.com
              </a>
            </li>
            <li>
              <!-- <i class="fa fa-envelope fa-fw"></i> -->
              <i class="fab fa-facebook-f fa-lg fa-fw"></i>
              <a
                class="text-light text-decoration-none"
                target="_blank"
                href="https://fb.com/p/Asocombia-Palmira-100076275575272/"
                >Facebook</a
              >
            </li>
          </ul>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 pt-5">
          <h5 class="h5 text-success border-bottom pb-3 border-light logo">
            NIT - 815004370
          </h5>
        </div>
      </div>
    </div>

    <div class="w-100 bg-black py-3">
      <div class="container">
        <div class="row pt-2">
          <div class="col-12">
            <p class="text-left text-light">
              &copy; 2025 Asocombia | Designed by
              <a rel="sponsored" href="https://crubio.dev" target="_blank"
                >Crubio</a
              >
            </p>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- End Footer -->

  <!-- Start Script -->
  <!-- "{{url_for('static', filename='img/apple-icon.png')}}" -->
  <script src="{{url_for('static', filename='js/jquery-1.11.0.min.js')}}"></script>
  <script src="{{url_for('static', filename='js/jquery-migrate-1.2.1.min.js')}}"></script>
  <script src="{{url_for('static', filename='js/bootstrap.bundle.min.js')}}"></script>
  <script src="{{url_for('static', filename='js/templatemo.js')}}"></script>
  <script src="{{url_for('static', filename='js/custom.js')}}"></script>
  <!-- End Script -->
</body>
</html>
